html,
body {
  padding: 0;
  margin: 0;
  background-color: #edeef0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    Geneva, 'Noto Sans Armenian', 'Noto Sans Bengali', 'Noto Sans Cherokee',
    'Noto Sans Devanagari', 'Noto Sans Ethiopic', 'Noto Sans Georgian',
    'Noto Sans Hebrew', 'Noto Sans Kannada', 'Noto Sans Khmer', 'Noto Sans Lao',
    'Noto Sans Osmanya', 'Noto Sans Tamil', 'Noto Sans Telugu', 'Noto Sans Thai',
    sans-serif, arial, Tahoma, verdana;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogue {
  position: relative;
  height: 95%;
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.messages {
  background-color: #ffffff;
  height: 92%;
  width: 100%;
  position: relative;
  border-radius: 4px;
}

.inputRow {
  width: 100%;
  background-color: #fafbfc;
  border-top: 1px solid #c5d0db;
  border-radius: 0 0 4px 4px;
  padding: 14px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-field {
  display: block;
  position: relative;
  z-index: 1;
  width: 457px;
  padding: 9px;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  overflow-y: hidden;
  overflow-x: hidden;
  appearance: none;
  border: none;
  outline: none;
  resize: none;
  word-wrap: break-word;
  box-sizing: border-box;
}

.form-field:focus {
  border: none;
}

.form-group {
  position: relative;
  border: 1px solid #c5d0db;
  border-radius: 4px;
  display: flex;
  width: 90%;
  background-color: #ffffff;
}

.emoji {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  z-index: 2;
}

.emojiMenu {
  width: 290px;
  height: 290px;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.emojiMenu::before {
  position: absolute;
  pointer-events: none;
  content: '';
  height: 12px;
  width: 12px;
  background-color: #edeef0;
  right: 10px;
  transform: rotate(45deg);
  bottom: -5px;
  z-index: -1;
  border: 1px solid #c5d0db;
  border-radius: 4px;
}

.emojiScrollBlock {
  position: relative;
  width: 280px;
  left: 5px;
  top: 5px;
  height: 244px;
  margin-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.emojiScrollBlock::-webkit-scrollbar {
  width: 5px;
}

.emojiScrollBlock::-webkit-scrollbar-track {
  background: none;
}

.emojiScrollBlock::-webkit-scrollbar-thumb {
  background: #dae2ea;
  border-radius: 4px;
}

.emojiScrollBlock::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.emojiMenu::after {
  position: absolute;
  content: '';
  top: -1px;
  left: -1px;
  border-radius: 4px;
  width: 292px;
  height: 292px;
  background-color: #c5d0db;
  z-index: -2;
}

.emojiMenuNav {
  height: 36px;
  width: 100%;
  background-color: #ebeef2;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.emojiRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.emojiItem {
  width: 26px;
  height: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojiSectionHeader {
  margin: 0;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  color: #939393;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.emojiMenuNavItem {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojiMenuNavItem[active] {
  background-color: #ffffff;
}

.emojiMenuNavItem:nth-child(1) {
  border-radius: 0 0 0 4px;
}
